.container {
    /*border-top: 1px solid var(--border-light);*/
    padding: 20px 0;
    font-size: var(--fs-heading);
    margin-bottom: 20px;
}

.list {
    justify-content: space-between;
}

.text {
    white-space: nowrap;
}

.bottomText {
    color: var(--light-font-color);
    font-size: var(--fs-small-plus);
    margin-top: 10px;
}

.container .star {
    color: var(--orange);
    font-size: var(--fs-heading);
}

@media (max-width: 992px) {
    .price {
        text-align: right;
    }
}